<div class="catalogue-cell">

  <div class="row-fluid">

    <div class="span2">
      <span style="padding: 7px; color: #5d5d5d">
        Article
      </span>
    </div>

    <div class="span10">

      <div class="row-fluid">
        <div class="span10 cell-title">
          <a><%= title %></a>
          <% if (title != english_title){ %>
            <small>
              <strong><%= english_title %></strong>
            </small><br/>
          <% } %>
          <small>
            by <strong><%= author %></strong>
            on <strong><%= published_on %></strong>
          </small>
        </div>
        <div class="span2" style="text-align: right">
          <small>
            <span class="label label-success"><%= site.name %></strong>
          </small>
        </div>
      </div>

      <div class="row-fluid preview" style="">
        <div class="span12">
          <div style="margin-top: 10px; text-align: right">
            <a target="_blank" href="http://<%= window.Catalogue.host %>/<%= source_url %>" class="btn btn-mini">
              Read article
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
