<div class="catalogue-cell">

  <div class="row-fluid">

    <div class="span2">
      <span style="padding: 7px; color: #5d5d5d">
        Site
      </span>
    </div>

    <div class="span10">

      <span class="label label-success" style="float:right">Eunis</span>

      <div class="cell-title">
        <a><%= name %></a>
      </div>


      <div class="row-fluid">
        <div class="span4">
          <small>
            <strong>Country: </strong><%= country %>
          </small>
        </div>
        <div class="span4">
          <small>
            <strong>Source: </strong><%= source_db %>
          </small>
        </div>
      </div>


    </div>
  </div>
</div>
