<li>
  <% if (Catalogue.isFacetSelected('site', undefined )){ %>
    <a class="all active">All Libraries</a>
  <% } else { %>
    <a class="all">All Libraries</a>
  <% } %>
</li>
<% _.each(terms, function(t){ %>
  <li>
    <% if (Catalogue.isFacetSelected('site', t.term )){ %>
      <a class="library active" data-facet="site" data-value="<%= t.term %>">
        <%= t.term+' ('+t.count+')' %>
      </a>
    <% } else { %>
      <a class="library" data-facet="site" data-value="<%= t.term %>">
        <%= t.term+' ('+t.count+')' %>
      </a>
    <% } %>
  </li>
<% }) %>




