
<div class="catalogue-toolbar">
    <form id="catalogue-search-form">
        <input id="query" name="query" type="text"
               class="input-medium search-query"
               placeholder="Search..." autofocus="true">
        <button type="submit">&nbsp;&nbsp;Search</button>
    </form>
</div>

<div class="catalogue-ie-msg" style="display:none">
  <strong>NOTE:</strong>
  If you are using <strong>Internet Explorer 8</strong>, you probably need to allow datasources across domains.
</div>

<div class="catalogue-suggestions" style="display:none">
  <legend>Did you mean.. </legend>
  <ul></ul>
</div>

<div class="catalogue-no-results widget widget-error" style="display:none">
  <h3 class="error-message">No results found, please adjust your query</h3>
  This tool is the BISE Catalogue, a component of the Biodiversity Information System for Europe. This information system has the aim of sharing data and information that serves as the biodiversity knowledge base for the policy plans and activities in the European Union up to 2020.
</div>

<div class="catalogue-available-content widget" style="display:none">
  <h3 class="widget-heading">Available content</h3>
  <div class="row-fluid">
    <div class="span2 documents">
      <i></i>
      <h1>0</h1>
      <strong>Documents</strong>
    </div>
    <div class="span2 webpages">
      <i></i>
      <h1>0</h1>
      <strong>Web Pages</strong>
    </div>
    <div class="span2 links">
      <i></i>
      <h1>0</h1>
      <strong>Links</strong>
    </div>
    <div class="span2 sites">
      <i></i>
      <h1>0</h1>
      <strong>Protected Sites</strong>
    </div>
    <div class="span2 habitats">
      <i></i>
      <h1>0</h1>
      <strong>Habitat Types</strong>
    </div>
    <div class="span2 species">
      <i></i>
      <h1>0</h1>
      <strong>Species</strong>
    </div>
  </div>
</div>

<div class="catalogue-statistics widget" style="display:none">
  <div class="row-fluid">
    <div class="span6">
      <h3 class="widget-heading">Popular Terms</h3>
      <div class="catalogue-cloud-tags"/>
    </div>
    <div class="span6">
      <h3 class="widget-heading">Last Added</h3>
      <ul class="catalogue-last-added"></ul>
    </div>
  </div>
</div>


<div class="catalogue-loading">
  <div class="gif"></div>
</div>

<div class="catalogue-libraries"></div>

<div class="catalogue-navigation-bar" style="display:none">
  <span class="catalogue-query">
  </span>
  <div class="catalogue-options" style="float:right">
      <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
              Per Page
              <span class="caret"></span>
          </a>
          <ul id="catalogue-per-page" class="dropdown-menu">
              <li>
                  <a>10</a>
              </li>
              <li>
                  <a>20</a>
              </li>
              <li>
                  <a>30</a>
              </li>
          </ul>
      </div>
  </div>
</div>

<div class="catalogue-container" style="display:none">

    <div class="catalogue-content span8" style="">

        <ul id="catalogue-results" style=""></ul>

        <div class="row-fluid" style="margin-bottom: 20px">
            <div class="span4"></div>
            <div class="span4 catalogue-status"></div>
            <div class="span4" style="padding-top: 8px">
                <ul class="pager">
                    <li><a class="p">Prev</a></li>
                    <li><a class="n">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="catalogue-sidebar">
        <div id="catelogue-categories-menu">Categories</div>
        <div id="catalogue-categories"></div>
        <div id="catalogue-facets"></div>
    </div>

</div>


