
<div class="catalogue-toolbar">
    <div class="select-field">
        <select>
            <option value="">All the Catalogue</option>
            <option value="">Articles</option>
            <option value="">Documents</option>
            <option value="">News</option>
            <option value="">Links</option>
            <option value="">Sites</option>
            <option value="">Habitats</option>
            <option value="">Species</option>
        </select>
    </div>
    <form id="catalogue-search-form">
        <input id="query" name="query" type="text" class="input-medium search-query" placeholder="Search...">
        <button type="submit" class="btn" style="margin:none;vertical-align:top">Search</button>
    </form>
</div>


<div class="catalogue-container">

    <div class="catalogue-sidebar span4">
        <div id="catalogue-queries" style="display: block; ">
            <ul></ul>
            <div id="results-count" style="text-align: right">About 0 results.</div>
        </div>
        <div id="catalogue-facets"></div>
    </div>

    <div class="catalogue-content span8">

        <div class="row-fluid">
            <div class="span5">
                <div class="catalogue-options">
                    <!--
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Sort by
                            <span class="caret"></span>
                        </a>
                        <ul id="catalogue-sort" class="dropdown-menu">
                            <li>
                                <a href="#">Published On</a>
                            </li>
                        </ul>
                    </div>
                    -->
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Per Page
                            <span class="caret"></span>
                        </a>
                        <ul id="catalogue-per-page" class="dropdown-menu">
                            <li>
                                <a href="#">10</a>
                            </li>
                            <li>
                                <a href="#">20</a>
                            </li>
                            <li>
                                <a href="#">30</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="span2 catalogue-status"></div>

            <div class="span5">
                <ul class="pager">
                    <li class="disabled">
                        <a class="p">Previous</a>
                    </li>
                    <li>
                        <a class="n">Next</a>
                    </li>
                </ul>
            </div>
        </div>


        <ul id="catalogue-results" style=""></ul>


        <div class="row-fluid">
            <div class="span8">
            </div>
            <div class="span4" style="padding-top: 8px">
                <ul class="pager">
                    <li class="disabled">
                        <a class="p">Previous</a>
                    </li>
                    <li>
                        <a class="n">Next</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--
        <div class="pagination compact-theme simple-pagination">
            <ul>
                <li class="active">
                    <span class="current prev">Prev</span>
                </li>
                <li class="active">
                    <span class="current">1</span>
                </li>
                <li>
                  <a href="#page-2" class="page-link">2 </a>
                </li>
                <li>
                  <a href="#page-3" class="page-link">3 </a>
                </li>
                <li>
                  <a href="#page-4" class="page-link">4 </a>
                </li>
                <li>
                  <a href="#page-5" class="page-link">5 </a>
                </li>

                <li class="disabled">
                  <span class="ellipse">… </span>
                </li>
                <li>
                  <a href="#page-25236" class="page-link">25236</a>
                </li>
                <li>
                  <a href="#page-25237" class="page-link">25237</a>
                </li>
                <li>
                  <a href="#page-2" class="page-link next">Next</a>
                </li>
            </ul>
        </div>
        -->
    </div>
</div>


