
<div class="catalogue-toolbar">
    <form id="catalogue-search-form">
        <div class="row-fluid">
            <div class="span4">
                <p class="field switch">
                    <input type="radio" id="bise-search" name="searchtype" value="bise" checked="checked" />
                    <input type="radio" id="advanced-search" name="searchtype" value="advanced" />
                    <label for="bise-search" class="bise-search selected">
                        <span>BISE Search</span>
                    </label>
                    <label for="advanced-search" class="advn-search">
                        <span>Advanced</span>
                    </label>
                </p>
            </div>
            <div class="span6">
                <input id="query" name="query" type="text"
                       class="input-medium search-query"
                       placeholder="Search..." autofocus="true">
            </div>
            <div class="span2">
                <button type="submit">&nbsp;&nbsp;Search</button>
            </div>
            <div class="span3" style="display:none;">
                <div class="select-field">
                    <span class="arrow-down"></span>
                    <select id="catalogue-area"></select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="catalogue-suggestions" style="display:none">
  <legend>Did you mean.. </legend>
  <ul></ul>
</div>

<div class="catalogue-no-results widget widget-error" style="display:none">
  <h3 class="error-message">No results found, please adjust your query</h3>
  This tool is the BISE Catalogue, a component of the Biodiversity Information System for Europe. This information system has the aim of sharing data and information that serves as the biodiversity knowledge base for the policy plans and activities in the European Union up to 2020.
</div>

<div class="catalogue-available-content widget" style="display:none">
  <h3 class="widget-heading">Available content</h3>

  <div class="row-fluid">
    <div class="span2 documents">
      <i></i>
      <h1>0</h1>
      <strong>Documents</strong>
    </div>
    <div class="span2 webpages">
      <i></i>
      <h1>0</h1>
      <strong>Web Pages</strong>
    </div>
    <div class="span2 links">
      <i></i>
      <h1>0</h1>
      <strong>Links</strong>
    </div>
    <div class="span2 sites">
      <i></i>
      <h1>0</h1>
      <strong>Protected Sites</strong>
    </div>
    <div class="span2 habitats">
      <i></i>
      <h1>0</h1>
      <strong>Habitat Types</strong>
    </div>
    <div class="span2 species">
      <i></i>
      <h1>0</h1>
      <strong>Species</strong>
    </div>
  </div>
</div>

<div class="catalogue-statistics widget" style="display:none">
  <div class="row-fluid">
    <div class="span6">
      <h3 class="widget-heading">Popular Terms</h3>
      <div class="catalogue-cloud-tags"/>
    </div>
    <div class="span6">
      <h3 class="widget-heading">Last Added</h3>
      <ul class="catalogue-last-added"></ul>
    </div>
  </div>
</div>




<!--
<div class="catalogue-map-count widget">
  <h3 class="widget-heading">Content per Country</h3>
  <img src="http://ideasabogados.com/wp-content/uploads/2011/04/captura-mapa-anotado.jpg" alt="" style="width: 100%">
</div>
-->


<div class="catalogue-container">

    <div class="catalogue-sidebar">
        <div id="catalogue-queries" style="display: block; ">
            <ul></ul>
            <div id="results-count">0 results.</div>
        </div>
        <div id="catalogue-categories"></div>
        <div id="catalogue-facets"></div>
    </div>

    <!--
    <div class="catalogue-no-results">
        <h1></h1>
    </div>
    -->

    <div class="catalogue-content span8" style="">

        <div class="row-fluid" style="padding-bottom: 15px">
            <div class="span5">
                <div class="catalogue-options">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            Per Page
                            <span class="caret"></span>
                        </a>
                        <ul id="catalogue-per-page" class="dropdown-menu">
                            <li>
                                <a>10</a>
                            </li>
                            <li>
                                <a>20</a>
                            </li>
                            <li>
                                <a>30</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span2 catalogue-status"></div>
            <div class="span5">
                <ul class="pager">
                    <li><a class="p">Prev</a></li>
                    <li><a class="n">Next</a></li>
                </ul>
            </div>
        </div>

        <ul id="catalogue-results" style=""></ul>

        <div class="row-fluid" style="margin-bottom: 20px">
            <div class="span4"></div>
            <div class="span4 catalogue-status"></div>
            <div class="span4" style="padding-top: 8px">
                <ul class="pager">
                    <li><a class="p">Prev</a></li>
                    <li><a class="n">Next</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


