/**
 * Stylesheet
 *
 * @namespace Catalogue
 * @class Base
 *
 * @author Jon Arrien Fernandez <jarrien@bilbomatica.es> || @jonarrien
 */

@import 'catalogue.mixin.styl'

// Fix for Plone
#content ul
  list-style: none !important
  margin: 0 !important
  padding: 0 !important
  li
    margin-bottom: 0


#catalogue-app
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  .catalogue-toolbar
    border-radius(4px)
    padding: 12px 5%
    margin-bottom: 5px
    // background: #EEE

    #catalogue-search-form
      margin: 0
      width: 100%

      input
        border: 2px solid darken(BISE_GREEN, 15%)
        border-right: 0
        -webkit-border-radius: 4px 0 0 4px !important
        border-radius: 4px 0 0 4px !important
        padding 10px 15px
        margin: 0
        width: 70%
        font-size: 14px
        line-height: 20px

      button
        -webkit-border-radius: 0 4px 4px 0 !important
        border: 2px solid darken(BISE_GREEN, 15%)
        border-radius: 0 4px 4px 0 !important
        background: BISE_GREEN
        background-image: url('./assets/search.png')
        background-repeat: no-repeat
        background-position: 12px 8px, center
        background-size: 25px 25px
        height: 44px
        width: 26.1%
        text-align: center
        cursor: pointer
        padding: 10px 15px
        color: white
        font-size: 1em
        line-height: 20px
        float: right

  .catalogue-loading
    height: 25px
    .gif
      background-image: url('./assets/ajax-loader.gif')
      background-repeat: no-repeat
      background-position: center, center
      background-size: 43px 11px
      margin: 0 auto
      margin-top: 7px
      display: block
      height: 15px

  .catalogue-libraries
    margin-top: -10px
    ul
      list-style: inline
      padding-bottom: 12px !important;
      border-bottom: 1px solid #CCC
      li
        display: inline
        margin-bottom: 12px !important
        a
          padding: 15px
          cursor: pointer
          &:hover
            background: lighten(#176D51, 5%)
            color: white
          &.active
            border-bottom: 9px solid #176D51
            padding-bottom: 6px
            &:hover
              border-bottom: 9px solid darken(#f0938c, 20%)
              background: #f0938c
              color: white

  .catalogue-navigation-bar
    height: 30px
    // background: orange
    padding: 10px 0
    margin-bottom: 10px
    border-bottom: 1px solid #EEE
    span
      color: #989898
      font-size: 20px
      display: inline-block
      em
        color: #2f2f2f
        font-size: 24px
        text-transform: capitalize

  .catalogue-content
    margin-left: 0
    float: left
    width: 70%

  .catalogue-sidebar
    width: 25.914893617021278%
    float: right;

  .widget
    // border-radius(4px)
    padding: 14px 8px
    margin-bottom: 20px

    &.widget-error
      background-image: url('./assets/error.png')
      background-repeat: no-repeat
      background-position: 10px 10px, center
      background-size: 64px 64px
      padding-left: 90px
      border: 1px solid #dd8488
      color: #dd8488
      .error-message
        margin: 0
        margin-bottom: 10px
        font-weight: bold
        color: #dd8488

    h3.widget-heading
      text-align: center
      color: darken(BISE_GREEN, 40%)
      margin: 0
      margin-bottom: 17px
      padding-bottom: 4px
      font-size: 16px
      font-weight: bold
      border-bottom: 1px solid darken(BISE_GREEN, 40%)

  hr
    border: 0
    height: 0
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.catalogue-suggestions
  border: 0px solid red


.catalogue-intro
  .logo
    background-image: url('./assets/logo.png')
    background-repeat: no-repeat
    background-position: 20px 0px, center
    background-size: 142px 106px
    height: 106px
    width: 142px

.catalogue-cloud-tags
  min-height: 371px

ul.catalogue-last-added
  list-style: lower-roman
  li
    margin-bottom: 7px
    > a
      color: darken(BISE_GREEN, 40%)


.catalogue-available-content
  .span2
    // background: #3C611D
    background: #416104
    padding: 18px 4px
    text-align: center

    > i
      display: block
      margin: 0 auto
      height: 80px
      width: 80px
      background-repeat: no-repeat
      background-size: 80px 80px

    &.documents i
      background-image: url('./assets/landing/ico-documents.png')
    &.webpages i
      background-image: url('./assets/landing/ico-web-pages.png')
    &.links i
      background-image: url('./assets/landing/ico-links.png')
    &.sites i
      background-image: url('./assets/landing/ico-protected-sites.png')
    &.habitats i
      background-image: url('./assets/landing/ico-habitats.png')
    &.species i
      background-image: url('./assets/landing/ico-species.png')

    h1
      color: white
      font-size: 32px
      margin: 0
    strong
      font-size: 13px
      color: white
      margin-bottom: 10px



.catalogue-ie-msg
  border: 1px solid #dd8488
  padding: 10px 20px
  margin-bottom: 20px
  color: darken(#dd8488, 40%)
  font-size: 12px


#catalogue-queries
  font-size: 1.5em
  color: white
  background: BISE_GREEN
  border-radius(5px)
  margin-bottom: 15px
  padding: 10px

  ul
    list-style: none !important
    padding: 0 !important
    margin: 0 !important
    margin-top: 10px !important
    li
      margin-left: 0 !important
      display: block !important
      line-height: 20px
      font-size: 1.5em

      list-style: none !important
      list-style-image: none !important
      list-style-position: inside !important
      list-style-type: none

  #results-count
    margin-top: 1em
    font-size: 0.8em
    text-align: left


#catelogue-categories-menu
  padding: 5px 15px
  background: #295728
  color: white
  // border: 1px solid red

#catalogue-categories
  border-radius(3px)
  // padding 7px
  border: 1px solid LIGHT_GRAY
  margin-bottom 10px
  font-size: 14px
  font-family: Helvetica, sans-serif

  h3
    font-size: 16px
    // font-weight: normal
    padding-bottom: 5px
    margin-top: 2px
    margin-bottom: 7px
    border-bottom: 1px solid #CCC

  input[type="checkbox"]
    margin-right: 10px !important
    background: orange


  .catalogue-category
    padding: 8px 10px
    border-bottom: 1px solid #CCC
    border-left: 10px solid #295728
    &:hover
      background: #eff4f5
      border-left: 10px solid #295728

    &.checked
      border-left: 10px solid #63a00c
      &:hover
        background: #eff4f5
        border-left: 10px solid #63a00c

    input[type='checkbox'], label
      cursor: pointer






.catalogue-facet
  border-radius(3px)
  border 1px solid LIGHT_GRAY
  margin-bottom: 10px
  font-size: 14px

  .facet-header
    padding: 10px 10px
    background: #EEE

    legend
      position: relative
      cursor: pointer
      width: 90%
      padding: 0 2px !important
      color: #252525
      font-size: 0.9em
      width: 94%
      font-weight: normal

    .triangle
      margin-top: -10px
      float: right
      border-style: solid
      border-width: 7px 5px 0 5px
      border-color: #515151 transparent transparent transparent
      &.up
        -webkit-transform: rotate(180deg)
        -webkit-animation-name: rotate
        -webkit-animation-duration: 0.5s
        -webkit-animation-iteration-count:  infinite
        -webkit-transition-timing-function: linear

  ul
    border-top: 1px solid #b8b8b8
    list-style: none
    margin: 0px
    -webkit-padding-start: 0px

    li
      a
        display:block
        cursor: pointer
        border-bottom: 1px solid #d7d7d7
        padding: 10px 12px
        &:hover
          // color: white
          color: #307A61

      .facet-count
        float: right
        margin-right: 5px
        color: #575757
        font-weight: bold
        border: 1px solid #e4e4e4
        padding: 3px 7px
        border-radius(5px)
        margin-top: 6px

      .facet-remove
        border-radius(4px)
        font-size: 0.7em
        font-weight: bold
        padding: 6px 7px
        border: 1px solid #c40000
        color: #c40000 !important
        float: right
        margin-right: 5px
        margin-top: 4px

        background: #c40000 !important
        color: white !important
        &:hover
          // background: #c40000 !important
          // color: white !important
          -moz-transform: scale(1.10) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -webkit-transform: scale(1.10) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -o-transform: scale(1.10) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -ms-transform: scale(1.10) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          transform: scale(1.10) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);

    li.show-more
      a
        text-align: center
        background: #f6f6f6
        color: #386d03
        &:hover
          background: #386d03
          color: white !important

  ul.first-five
    li.facet-item:nth-child(n+6)
      display: none !important

.catalogue-no-results
  margin: 10px 8px
  color: #E74C3C !important
  h3
    color: #E74C3C !important


.catalogue-content
  .select-field
    display: inline-block
    overflow:hidden

    border-radius(5px)

    select
      color: #484848
      padding: 2px
      // float:left
      width: 100%
      height 30px
      padding-left: 10px
      padding-right: 10px
      -webkit-appearance: menulist-button
      -moz-appearance: menulist-button
      appearance: menulist-button
      // border: none;
      // background: transparent


.catalogue-options
  label
    font-size: 12px
    margin-right: 7px

.catalogue-status
  text-align center
  color #167124
  font-size 24px
  font-weight bold
  vertical-align bottom

ul#catalogue-results
  list-style: none
  margin: 0 auto
  padding: 0
  font-family: Helvetica, sans-serif
  font-size: 14px

  // border-top: 1px solid #999999
  padding-top: 10px
  // margin-top: 10px
