/**
 * Stylesheet
 *
 * @namespace Catalogue
 * @class Base
 *
 * @author Jon Arrien Fernandez <jarrien@bilbomatica.es> || @jonarrien
 */

@import 'catalogue.mixin.styl'


#catalogue-app
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  .catalogue-sidebar
    width: 25.914893617021278%
    float: left
  .catalogue-content
    margin-left: 4%
    float: left
    width: 70%

  .widget
    border-radius(4px)
    // border: 1px solid #dbdad8
    padding: 14px 8px
    margin-bottom: 20px
    // background: lighten(BISE_GREEN, 70%)

    &.widget-error
      background-image: url('./assets/error.png')
      background-repeat: no-repeat
      background-position: 10px 10px, center
      background-size: 64px 64px
      padding-left: 80px

      border: 1px solid #dd8488
      color: #dd8488
      .error-message
        margin: 0
        margin-bottom: 10px
        font-weight: bold
        color: #dd8488

    h3.widget-heading
      text-align: center
      color: darken(BISE_GREEN, 40%)
      margin: 0
      margin-bottom: 12px
      padding-bottom: 4px
      font-size: 16px
      font-weight: bold
      border-bottom: 1px solid lighten(BISE_GREEN, 50%)
    // h3
    //   border-bottom: 1px solid #dbdad8

  hr
    border: 0
    height: 0
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.catalogue-toolbar
  border-radius(4px)
  padding: 12px
  margin-bottom: 20px
  background: BISE_GREEN

.catalogue-suggestions
  border: 0px solid red


.catalogue-intro
  .logo
    background-image: url('./assets/logo.png')
    background-repeat: no-repeat
    background-position: 20px 0px, center
    background-size: 142px 106px
    height: 106px
    width: 142px

.catalogue-cloud-tags
  min-height: 371px

ul.catalogue-last-added
  list-style: lower-roman
  li
    margin-bottom: 7px
    > a
      color: darken(BISE_GREEN, 40%)


.catalogue-available-content
  .span2
    // background: #3C611D
    background: #416104
    padding: 18px 4px
    text-align: center

    > i
      display: block
      margin: 0 auto
      height: 80px
      width: 80px
      background-repeat: no-repeat
      background-size: 80px 80px

    &.documents i
      background-image: url('./assets/landing/ico-documents.png')
    &.webpages i
      background-image: url('./assets/landing/ico-web-pages.png')
    &.links i
      background-image: url('./assets/landing/ico-links.png')
    &.sites i
      background-image: url('./assets/landing/ico-protected-sites.png')
    &.habitats i
      background-image: url('./assets/landing/ico-habitats.png')
    &.species i
      background-image: url('./assets/landing/ico-species.png')

    h1
      color: white
      font-size: 32px
      margin: 0
    strong
      font-size: 13px
      color: white
      margin-bottom: 10px




#catalogue-search-form
  margin: 0

  .field.switch
    border-radius(4px)
    width: 102%
    height: 40px
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    margin-left: -5px
    margin-top: 0px
    margin-bottom: -10px


    .bise-search, .advn-search
      span
        width: 45%
        height: 30px
        line-height: 26px
        float: left
        color: white
        background-color: darken(BISE_GREEN, 15%)
        border: 2px solid darken(BISE_GREEN, 15%)
        border-bottom: 0
        text-align: center
        padding: 12px 1px
        margin-bottom: -20px

    .advn-search
      span
        margin-left: 7px
        // border-left: 0

    .bise-search.selected, .advn-search.selected
      span
        background-color: white
        color: darken(DARK_GREEN, 30%)
        border: 2px solid DARK_GREEN
        border-bottom: 0

    label
      cursor: pointer
    input
      display: none



  .select-field
    width: 100%
    // overflow:hidden
    position: relative

    background: BISE_GREEN
    border-radius(4px)
    border: 2px solid darken(BISE_GREEN, 15%)
    padding 0px 2px

    .arrow-down
      position: absolute
      right: 10px
      width: 0
      height: 0
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-top: 8px solid DARK_GREEN
      margin-top: 15px

    select
      color: white
      font-size: 0.9em
      // float:left
      width: 100%
      height 40px
      padding-left: 20px

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border: none;
      background: transparent



  input
    padding 10px 15px
    // padding: 4px 6px
    margin: 0
    margin-left: 1.404255319148934%
    width: 100%

    border-radius(4px)
    border: 2px solid darken(BISE_GREEN, 15%)
    // border: 2px solid white

    font-size: 14px
    line-height: 20px


  button
    border-radius(5px)
    background: BISE_GREEN
    background-image: url('./assets/search.png')
    background-repeat: no-repeat
    background-position: 12px 8px, center
    background-size: 25px 25px
    height: 44px
    width: 100%
    text-align: center
    cursor: pointer
    border: 2px solid darken(BISE_GREEN, 15%)
    margin: 0 7px
    padding: 10px 15px
    color: white
    font-size: 1em
    line-height: 20px



.catalogue-ie-msg
  border: 1px solid #dd8488
  padding: 10px 20px
  margin-bottom: 20px
  color: darken(#dd8488, 40%)
  font-size: 12px


#catalogue-queries
  font-size: 1.5em
  color: white
  background: BISE_GREEN
  border-radius(5px)
  margin-bottom: 15px
  padding: 10px

  ul
    list-style: none !important
    padding: 0 !important
    margin: 0 !important
    margin-top: 10px !important
    li
      margin-left: 0 !important
      display: block !important
      line-height: 20px
      font-size: 1.5em

      list-style: none !important
      list-style-image: none !important
      list-style-position: inside !important
      list-style-type: none

  #results-count
    margin-top: 1em
    font-size: 0.8em
    text-align: left



#catalogue-categories
  border-radius(3px)
  padding 7px
  border: 1px solid LIGHT_GRAY
  margin-bottom 10px
  font-size: 14px
  font-family: Helvetica, sans-serif

  h3
    font-size: 16px
    // font-weight: normal
    padding-bottom: 5px
    margin-top: 2px
    margin-bottom: 7px
    border-bottom: 1px solid #CCC

  input[type="checkbox"]
    margin-right: 10px !important
    background: orange








.catalogue-facet
  border-radius(3px)
  border 1px solid LIGHT_GRAY
  margin-bottom: 10px
  font-size: 14px

  .facet-header
    padding: 6px 7px
    background: LIGHT_GRAY

    legend
      position: relative
      cursor: pointer
      width: 90%
      padding: 0 2px !important
      color: DARK_GRAY
      font-size: 0.9em
      width: 94%
      font-weight: bold

    .triangle
      margin-top: -10px
      float: right
      border-style: solid
      border-width: 7px 5px 0 5px
      border-color: #515151 transparent transparent transparent
      &.up
        -webkit-transform: rotate(180deg)
        -webkit-animation-name: rotate
        -webkit-animation-duration: 0.5s
        -webkit-animation-iteration-count:  infinite
        -webkit-transition-timing-function: linear

  ul
    border-top: 1px solid #b8b8b8
    list-style: none
    margin: 0px
    -webkit-padding-start: 0px

    li
      a
        display:block
        cursor: pointer
        border-bottom: 1px solid #d7d7d7
        padding: 10px 12px
        &:hover
          color: white
          background: BISE_GREEN

      .facet-count
        float: right
        margin-right: 5px
        color: #575757
        font-weight: bold
        border: 1px solid #e4e4e4
        padding: 3px 7px
        border-radius(5px)
        margin-top: 6px

      .facet-remove
        // border-radius(5px)
        font-size: 0.7em
        font-weight: bold
        padding: 4px 7px
        border: 1px solid #c40000
        color: #c40000 !important
        float: right
        margin-right: 5px
        margin-top: 4px
    li.show-more
      a
        text-align: center
        background: #f6f6f6
        color: #386d03
        &:hover
          background: #386d03
          color: white

  ul.first-five
    li.facet-item:nth-child(n+6)
      display: none !important

#content ul
  list-style: none !important
  margin: 0 !important
  padding: 0 !important
  li
    margin-bottom: 0

.catalogue-no-results


.catalogue-content
  .select-field
    display: inline-block
    overflow:hidden

    border-radius(5px)

    select
      color: #484848
      padding: 2px
      // float:left
      width: 100%
      height 30px
      padding-left: 10px
      padding-right: 10px
      -webkit-appearance: menulist-button
      -moz-appearance: menulist-button
      appearance: menulist-button
      // border: none;
      // background: transparent


.catalogue-options
  label
    font-size: 12px
    margin-right: 7px

.catalogue-status
  text-align center
  color #167124
  font-size 24px
  font-weight bold
  vertical-align bottom

ul#catalogue-results
  list-style: none
  margin: 0 auto
  padding: 0
  font-family: Helvetica, sans-serif
  font-size: 14px

  border-top: 1px solid #999999
  padding-top: 10px
  margin-top: 10px
